.text-button-container {
  color: #6f6f6f;
  margin-top: 35px;
  font-size: 24px;
  padding: 12px 30px;
  border-radius: 10px;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.text-button-container:hover {
    color: #c41417;
}
