*{
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0;

}

html,
body,
#root {
  height: 100%;
}

.app {
  height: 100%;
  justify-content: center;
  background-image: url(./assets/images/bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

.title {
  font-size: 37px;
  color: #383838;
  font-weight: bold;
  @media (max-width: 600px) {
      font-size: 30px;
  }
}

.button-link{
  text-decoration: none;
}


